form(ng-submit='submit()')
  #subject.entry
    label Subject 
    input(ng-model='subject', type='text', required)
  #message.entry
    label Message 
    textarea(ng-model='message', required)
  #attachments.entry
    label Attachments 
    input(type='file')
  button(type='submit') Submit
#background
  #id_popup
    .remember Remember this to view reply!
    .id(ng-bind='id_confirm')
    button.okay(ng-click='okay()', type='button') Okay
  #pgp_popup
    span.title Generating PGP keypair.
    br
    | Browser will likely freeze for a moment.
