| unREDACTED_ is a platform to create a secure and anonymous communication channel with an individual or organization.  It is hosted on a TOR hidden service to protect the security and anonymity of the source.  Data is secured using encryption.
br
br
H2 How to Use
br
| To create a send a message, go to the Compose page.  Here, you will find input fields for Subject, Message, and Attachment.  Just fill these out and hit Submit.  Attachments are not required.
br
br
| Once you hit Submit, 4096-bit PGP encryption keys will be generated.  This uses a large amount of the computer's CPU resources, so the browser is almost guaranteed to freeze.  Do not worry though, after the keys are generated, the browser will work again.
br
br
| After the information has been encrypted and sent, a 24 character ID will appear.  Make note of this, as it will be used to see replies.
br
br
| When a reply has been made to the information sent, you can use your 24 character ID to find and decrypt the reply.  You can do this in the Replies page.  If a reply has not been made yet, there will be a message saying "No reply at this time."  If a reply has been made, you will see the decrypted contents of the reply.
br
br
H2 Security
br
| unREDACTED_ uses 4096-bit PGP and AES256 CBC encryption to protect information transferred and stored.  End-to-end encryption is used so all information is encrypted before being sent over the network.  Please read the Protocol page to get more information on how encryption is being used.
