extends ./layout.pug

block content
  .info
    b Important! 
    | Read the instructions on this page before composing or viewing replies
  br
  br
  | To send a message, start by going to the Compose page.  You then can send a Subject, Message, and Attachment.  A subject is required and you must have a message and/or attachment included.  After you send the message, it is encrypted using PGP.  
  br
  br
  | There is a maximum size limit for the subject, message and attachment.  The subject must be at most 256 Bytes (Usually 256 characters), the message can be at most 2 MiB (2097152 Bytes) and the attachment can be at most 250 MiB (262144000 Bytes).
  br
  br
  | unREDACTED_ uses Tor to provide end-to-end encryption and anonymity to protect everyone involved.  While a lot of time and care went into creating this software, there cannot be a guarantee that all information is protected, so please keep that in mind if you use unREDACTED_.  unREDACTED_ is free software and the source code is readily available to be reviewed by anyone who wishes to review it.  The protocol is also documented and can be viewed.
