extends ./layout.pug

block content
  form(action='/reply', method='POST', autocomplete='off')
    .title Replies
    input(type='text', name='replyid', placeholder='Reply ID', required)
    br
    br
    input(type='submit', value='Check Replies')
