*
  word-wrap: break-word

body
  font-family: sans
  margin: 0
  background-color: #ededed
  min-width: 544px

html,
body
  height: 100%

a,
input[type='submit']
  transition: color .25s, opacity .25s

a
  outline: 0
  margin-right: 24px
  text-decoration: none
  padding: 6px 0
  color: #aaa
  &:hover
    color: #000

header,
footer
  min-width: 544px

header
  height: 48px
  line-height: 48px
  padding: 0 32px
  border-bottom: 1px solid #ccc
  background-color: #fff
  #title
    display: inline-block
    img
      height: 24px
      vertical-align: middle
  nav
    display: inline-block
    float: right
    height: 48px
    font-size: 14px
    a
      &:last-of-type
        margin-right: 0

#body
  min-height: calc(100% - 49px)
  margin-bottom: -48px
  text-align: center
  &:after
    content: ''
    display: block
  #content
    margin: 32px
    width: 478px
    background-color: #fff
    border: 1px solid #ccc
    border-radius: 3px
    padding: 32px
    text-align: left
    display: inline-block
    form
      .title
        font-size: 28px
        margin-bottom: 24px
      input,
      textarea
        border-radius: 2px
        outline: 0
        width: 100%
        padding: 0
      input[type='text'],
      textarea
        font-family: sans
        padding: 4px
        border: 1px solid #ccc
        width: calc(100% - 10px)
      textarea
        height: 128px
        resize: vertical
      input[type='submit']
        padding: 12px
        border: 1px solid #446cb3
        outline: 0
        background-color: #4b77be
        color: #fff
        opacity: 0.8
        font-size: 14px
        cursor: pointer
        width: calc(100% - 2px)
        &:hover
          opacity: 1
      .attachment-max-size
        margin-top: 8px
        font-size: 12px
    .warning,
    .info,
    .success
      width: calc(100% - 34px)
      border-radius: 2px
      padding: 16px
      text-align: center
      display: inline-block
      font-family: monospace
      font-size: 18px
    .warning
      background-color: #ffdede
      border: 1px solid #edcccc
      color: #bb4444
    .info
      background-color: #deedff
      border: 1px solid #be88ff
      color: #336688
    .reply
      margin-bottom: 32px
      .message
        border: 1px solid rgba(0, 0, 0, 0.1)
        display: inline-block
        max-width: calc(100% - 48px)
        padding: 8px
        text-align: left
        .date
          color: rgba(0, 0, 0, 0.4)
          font-size: 10px
          margin-top: 16px
      &.left
        text-align: left
        .message
          background-color: rgba(0, 0, 0, 0.06)
          border-radius: 3px 8px 8px 3px
          .date
            text-align: left
      &.right
        text-align: right
        .message
          background-color: rgba(0, 0, 255, 0.1)
          border-radius: 8px 3px 3px 8px
          .date
            text-align: right
      &:last-of-type
        margin-bottom: 0

footer,
#body:after
  height: 48px

footer
  font-size: 12px
  text-align: right
  line-height: 48px
  padding: 0 32px
  a
    &:last-of-type
      margin-right: 0
  #version
    float: left
    color: #aaa

.bold
  font-weight: bold
